a{
    color: black;
    text-decoration: none;
}

.nav{
    background-color: rgb(235, 116, 73);
}
.grey{
    color: grey;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: auto; 
    width: auto;
}

.box1  {  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
  }

.box1 div {
   
    width: 1000px;
    height: auto;
}

 .box2 {  
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background-color: rgb(236, 236, 236);
    width: 1000px;
    height: auto;
  }

  .box2 div {
   
    width: 1000px;
    height: auto;
}
.upvote{
    width: 8px;
    height: 8px;
    
}
.news{   


}

.newstext{
 
padding: 0px;

}

.description{  
  color: grey;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;     
        padding: 0px;              
        margin-top: 0%;
        margin-left: 10px;
       
}




